<% if user_signed_in? %>
  <% @user ||= current_user %>
  <%= render "user_info" %>
  
<% end %>

<% @twitts.each do |p| %>
  <div class="card ">
    <div class="card-body">
      <p class="card-text"><%= raw p.body %></p>
    </div>
    <div class="card-footer text-black bg-info mb-3">
      Created by user:  <%= image_tag(p.user.avatar_url, size: "20x20", :class => 'rounded-circle')  %>
       <%= link_to user_path(p.user.id) do %>
       <strong class="username">@<%= p.user.username %></strong> <br>
       <% end %>
      Created at <%= distance_of_time_in_words(p.created_at, Time.now) %> ago
      <% if user_signed_in? %>
        <% if p.user_id == current_user.id %>
        
          <%= link_to 'Edit', edit_twitt_path(p.id), class: "text-white" %> |
          <%= link_to "Delete", twitt_path(p.id),class: "text-white", method: :delete, data: {confirm: "Are you sure?"} %> |
        
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 text-center">
    <%= will_paginate @twitts, :container => false %>
  </div>
</div>
