<%= render "twitts/user_info" %>
<% if @user == current_user %>
  <%= render 'twitts/form', twitt: @twitt %>
  <% else %>
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
<% end %>

<% if @twitts == [] %>
    <p>No twitt yet</p>
<% else %>
<% @twitts.each do |p| %>
  <div class="card ">
    <div class="card-body">
      <p class="card-text"><%= raw p.body %></p>
    </div>
    <div class="card-footer text-white bg-secondary mb-3">
      Created by user:  <%= image_tag(p.user.avatar_url, size: "20x20", :class => 'rounded-circle')  %>
       <strong>@<%= p.user.username %></strong> <br>
      Created at <%= distance_of_time_in_words(p.created_at, Time.now) %> ago
      <% if user_signed_in? %>
        <% if p.user_id == current_user.id %>
          <%= link_to 'Edit', edit_twitt_path(p.id) %> |
          <%= link_to "Delete", twitt_path(p.id), method: :delete, data: {confirm: "Are you sure?"} %> |
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>
