<nav class="navbar navbar-expand-sm bg-info navbar-black">
    <%= link_to "Home", root_path, class: "navbar-brand text-white" %>
   
    <ul class="navbar-nav ml-auto">      

<% if !user_signed_in? %>
      <%= link_to user_session_path, class: "nav-link text-white" do %>
        <i class="fas fa-sign-in-alt"></i> Login
      <% end %>
<% else %>

<% if current_user.profile.nil? %>
         <%= link_to new_profile_path, class: "nav-link text-white" do  %>
     <i class="fas fa-sign-in-alt"></i> Create new Profile
     <% end %>
      <% else %>
           <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">Info</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"><%= link_to "View profile", profiles_path, class: "nav-link text-info" %></a>
      <a class="dropdown-item" href="#"><%= link_to "View my posts", twitts_path, class: "nav-link text-info" %></a>
      <a class="dropdown-item"><%= link_to "Logout",  destroy_user_session_path, class: "nav-link text-info", method: :delete %></a>
      
    </div>
  </li>
        <% end %> 
        <%= link_to "Create new post", new_twitt_path, class: "nav-link text-white" %>  
<% end %>
    </ul>
</nav>



    
    

